.note {
  width: 900px;
  border: 2px solid green;
  padding: 15px;
  margin: 25px;
}
.tagline {
  text-align: center;
}
.title {
  padding: 6px 20px;
  margin: 8px 0;
}

textarea {
  width: 90%;
  height: 200px;
  resize: none;
  border: -20px;

  padding: 6px 20px;


   }