{% extends "layout.html" %}
{% block title %}My Notes{% endblock %}
{% block body %}
  <h2>Root</h2>
  <form action="" method=post>
    <div>
        <h1><a href=/note>New_note</a></h1>
        <h1>Here will be all created notes!</h1>
        <a href=/clear_notes>clear all</a>
        <div>
        {% for dict_item in notes %}
            <div class="note">
            {% for key, value in dict_item.items() %}

                    <h4>{{key}}: {{value}}</h4>

            {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
  </form>
{% endblock %}