{% extends "layout.html" %}
{% block title %}My Notes{% endblock %}
{% block body %}
  <h1><a href=/>go back</a></h1>
  <h2>New Note</h2>
  <form action="" method=post>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <p>Title:</p>
      <input class="title" type=text name=title value="{{ title }}">
    <p>Description:</p>
      <textarea cols="30" rows="7" name="description" id="description">
        {{ description }}
      </textarea>
    <p><input type=submit value="post"></p>
  </form>
{% endblock %}